{% extends 'base.html.twig' %}

{% block title %}{{annonceSelected.title}}{% endblock %}

{% block header %}
<header class="bg-dark py-5 mb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{annonceSelected.title}}</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{annonceSelected.title}}</h1>
                    <div class="fs-5 mb-3">
                        <span>{{annonceSelected.prix}} euro</span>
                    </div>
                    <button type="button" class="btn bg-danger">
                        <a href="{{ path('app_remove_annonce', {id_annonce:annonceSelected.id}) }}" class="text-white"  style="display:flex; align-items: center;text-decoration:none;" onclick=confirmationDelete()>
                            <svg style="margin-right: 0.5rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                              </svg>
                              Delete
                        </a>
                    </button>
                   <button type="button" class="btn btn-primary">
                    <a href="{{ path('annonce_update', {id_annonce:annonceSelected.id}) }}" class="text-white"  style="display:flex; align-items: center; text-decoration:none;">
                        <svg style="margin-right: 0.5rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                          </svg>
                          Update
                    </a>
                   </button>
                    <p class="lead">{{annonceSelected.content}}</p>
                    <div class="d-flex">
                    </div>
                </div>
            </div>
        </div>
    </section>
        <script>
            function confirmationDelete() {
                var confirmation = confirm('Êtes-vous sûr de vouloir supprimer ?');
        
                if (confirmation) {
                    // Si l'utilisateur clique sur OK, exécutez l'action de suppression ici
                    // Par exemple, soumettez le formulaire de suppression ou effectuez une requête AJAX
                    alert('Action de suppression effectuée');
                } else {
                    // Si l'utilisateur clique sur Annuler, annulez l'action de suppression
                    alert('Action de suppression annulée');
                }
            }
        </script>
{% endblock %}
